<nav class="navbar navbar-light navbar-expand-md" style="box-shadow: 0px 0px 11px 2px;--bs-body-bg: var(--bs-gray-100);background: #D7C0AE;">
  <div class="container-fluid"><a class="navbar-brand" href="#">Beary-Bear Realtors</a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div id="navcol-1" class="collapse navbar-collapse">
          <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link active" href="{{ url_for('home') }}">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('new_property') }}">New Property</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('properties') }}">Properties</a></li>
          </ul>
      </div>
  </div>
</nav>