{% extends "base.html" %}

{% block main %}
<h1 class="heading">Properties</h1>
<ul>
    <div class="card-container">
        {% for property in properties %}
        <div class="card">
            <div class="card-photo">
                <img src="{{ url_for('get_uploaded_file', filename=property.photo) }}" alt="house photo">
            </div>
            <div class="card-body d-flex flex-column">
                <div>
                    <h4 class="card-head">Mariana Reis</h4>
                    <h6 class="text-muted mb-2">Maquiadora</h6>
                    <a class="align-self-start price">Price</a>
                </div>
                <a class="card-link" href="#">Ver mais</a>
            </div>
        </div>
        {% endfor %}
    </div>
    
</ul>
{% endblock %}